{# ======================= #}
{# PROPERTIES              #}
{# ======================= #}
{% set settings = settings|default([]) %}
{% set companyLogo = null %}

{% if settings.companyLogo %}
    {% set companyLogo = craft.assets.id(settings.companyLogo[0]).one|default([]) %}
{% endif %}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<div 
    class="cat-toolbar-help-menu"
    toolbar-on:click.outside="helpMenuOpen = false"
    toolbar-on:keydown.esc.window="helpMenuOpen = false;"
    toolbar-bind:class="{ 'open': helpMenuOpen }"
>
    <button 
        toolbar-on:click="helpMenuOpen = !helpMenuOpen" 
        class="cat-toolbar-help-menu-toggle"
    >
        {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/circle-questionmark.svg") }}

        <span class="cat-typo-body-md">{{ "Help"|t }}</span>

        {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/chevron-down.svg") }}
    </button>

    <div class="cat-toolbar-help-menu-content">
        {% if settings.info or companyLogo %}
            <div class="cat-toolbar-help-menu-intro">
                {% if companyLogo %}
                    <img src="{{ companyLogo.url }}" alt="">
                {% endif %}            

                <p class="cat-typo-body-md">{{ settings.info }}</p>
            </div>
        {% endif %}

        {% if settings.company or settings.email or settings.phoneNumber %}
            <ul class="cat-toolbar-help-menu-contact-info">
                {% if settings.company %}
                    <li class="cat-toolbar-help-menu-contact-info-item">
                        <div>
                            <span>{{ svg("@digitalastronaut/craftauthortoolbar/web/icons/company.svg") }}</span>
                            <p class="cat-typo-body-md cat-semi-bold">{{ "Company"|t }}</p>
                        </div>

                        <p class="cat-typo-body-md">{{ settings.company }}</p>
                    </li>
                {% endif %}
                
                {% if settings.email %}
                    <li class="cat-toolbar-help-menu-contact-info-item">
                        <div>
                            <span>{{ svg("@digitalastronaut/craftauthortoolbar/web/icons/mail.svg") }}</span>
                            <p class="cat-typo-body-md cat-semi-bold">{{ "Email"|t }}</p>
                        </div>

                        <a href="mailto:{{ settings.email }}" class="cat-typo-body-md">{{ settings.email }}</a>
                    </li>
                {% endif %}
                

                {% if settings.phoneNumber %}
                    <li class="cat-toolbar-help-menu-contact-info-item">
                        <div>
                            <span>{{ svg("@digitalastronaut/craftauthortoolbar/web/icons/phone.svg") }}</span>
                            <p class="cat-typo-body-md cat-semi-bold">{{ "Phone number"|t }}</p>
                        </div>

                        <a href="tel:{{ settings.phoneNumber }}" class="cat-typo-body-md">{{ settings.phoneNumber }}</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
        

        {% if settings.issueTicketUrl %}
            <div class="cat-toolbar-help-menu-bug-reports">
                <h2 class="cat-typo-body-md cat-semi-bold">{{ "Bug reports"|t }}</h2>

                <a href="{{ settings.issueTicketUrl }}" target="_blank" class="cat-button cat-typo-body-md">
                    {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/bug.svg") }}

                    <span>{{ "Create a bug report or feature request"|t }}</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>