{# ======================= #}
{# PROPERTIES              #}
{# ======================= #}
{% set tabs = [
    { label: "Checklist"|t('author-toolbar'), id: "checklist", class: "cat-toolbar-seo-menu-checklist" },
    { label: "Share previews"|t('author-toolbar'), id: "social-media-previews", class: "cat-toolbar-seo-menu-previews" },
    { label: "Images"|t('author-toolbar'), id: "images", class: "cat-toolbar-seo-menu-images" },
    { label: "Headings"|t('author-toolbar'), id: "headings", class: "cat-toolbar-seo-menu-headings" },
] %}

{#{ label: "Structured data"|t('author-toolbar'), id: "structured-data", template: "_structuredDataTab" },#}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<div id="seo-menu-anchor" class="cat-toolbar-seo-checklist cat-toolbar-chunk">
    <seo-menu class="cat-toolbar-seo-menu">
        <button id="seo-menu-toggle" class="cat-toolbar-seo-menu-toggle">
            <p class="cat-typo-body-md">{{ "SEO"|t('author-toolbar') }}</p>

            <div id="seo-menu-toggle-status" class="cat-typo-body-md cat-semi-bold">
                {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/passed.svg")|attr({ class: "passed" }) }}

                {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/warning.svg")|attr({ class: "warning" }) }}

                {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/failed.svg")|attr({ class: "failed" }) }}

                <p class="seo-menu-toggle-status-summary cat-typo-body-md cat-semi-bold"></p>
            </div>

            {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/chevron-down.svg") }}
        </button>

        <div id="seo-menu-content" class="cat-toolbar-seo-menu-content">
            <ul class="cat-toolbar-seo-menu-tabs">
                {% for tab in tabs %}
                    <li class="cat-toolbar-seo-menu-tab">
                        <button data-tab="{{ tab.id }}" class="cat-toolbar-seo-menu-tab-button cat-typo-body-sm">
                            {{ tab.label }}
                        </button>
                    </li>     
                {% endfor %}
            </ul>

            <div class="cat-toolbar-seo-menu-tab-content">
                {% for tab in tabs %}
                    <section data-tab-content="{{ tab.id }}" class="{{ tab.class }}">
                        {# Content of each tab is injected via JS by the seoMenu web component #}
                    </section>
                {% endfor %}
            </div>
        </div>
    </seo-menu>
</div>
