{# ======================= #}
{# PROPERTIES              #}
{# ======================= #}
{% set startMenuOptions = [
    { icon: "dashboard", label: "Dashboard"|t('author-toolbar'), href: cpUrl('dashboard'), enabled: settings.dashboardLinkEnabled },
    { icon: "entries", label: "Entries"|t('author-toolbar'), href: cpUrl('entries'), enabled: settings.entriesLinkEnabled },
] %}

{% if craft.app.plugins.isPluginEnabled('commerce') %}
    {% set newOrdersCount = craft.orders.orderStatus('new').count %}

    {% set startMenuOptions = startMenuOptions|merge([
        { icon: "orders", label: "Orders"|t('author-toolbar'), href: cpUrl('commerce/orders'), badge: newOrdersCount, enabled: settings.ordersLinkEnabled }
    ]) %}

    {% if craft.products.exists %}
        {% set startMenuOptions = startMenuOptions|merge([
            { icon: "products", label: "Products"|t('author-toolbar'), href: cpUrl('commerce/products'), enabled: settings.productsLinkEnabled },
            { icon: "warehouse", label: "Inventory"|t('author-toolbar'), href: cpUrl('commerce/inventory'), enabled: settings.inventoryLinkEnabled }
        ]) %}
    {% endif %}
{% endif %}

{% set startMenuOptions = startMenuOptions|merge([
    { icon: "assets", label: "Assets"|t('author-toolbar'), href: cpUrl('assets'), enabled: settings.assetsLinkEnabled },
    { icon: "profile", label: "Account settings"|t('author-toolbar'), href: cpUrl('myaccount'), enabled: settings.accountSettingsLinkEnabled },
]) %}

{% set startMenuOptions = startMenuOptions|merge(settings.customStartMenuLinks|map(item => item|merge({
    href: cpUrl(item.href)
}))) %}

{% set startMenuOptions = startMenuOptions|merge([
    { icon: "logout", label: "Logout"|t('author-toolbar'), href: cpUrl('logout'), enabled: settings.logoutLinkEnabled },    
]) %}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<div class="cat-toolbar-start cat-toolbar-chunk">
    <div 
        class="cat-toolbar-start-menu"
        toolbar-on:click.outside="startMenuOpen = false"
        toolbar-on:keydown.esc.window="startMenuOpen = false"
        toolbar-bind:class="{ 'open': startMenuOpen }"
    >
        <button 
            class="cat-toolbar-start-menu-toggle"
            toolbar-on:click="startMenuOpen = !startMenuOpen" 
            toolbar-on:keydown.tab="startMenuOpen = true"
        >
            <div class="cat-toolbar-start-menu-profile-picture">
                {% if currentUser.photo %}
                    <img 
                        src="{{ currentUser.photo.url }}" 
                        alt="Profile picture of {{ currentUser.fullName|default("User") }}"
                    >
                {% else %}
                    {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/craftcms-icon.svg") }}
                {% endif %}
            </div>

            <div class="cat-toolbar-start-menu-user-info">
                <p class="cat-typo-body-md cat-semi-bold">{{ currentUser.fullName|default("User") }}</p>
                <p class="cat-typo-body-sm">{{ currentUser.email }}</p>
            </div>

            {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/chevron-down.svg") }}
        </button>

        <div class="cat-toolbar-start-menu-content">
            <ul class="cat-toolbar-start-menu-options-list">
                {% for option in startMenuOptions %}
                    {% if option.enabled %}
                        <li class="cat-toolbar-start-menu-options-list-item">
                            <a href="{{ option.href }}" class="cat-toolbar-start-menu-options-list-item-link">
                                {% if option.icon is defined %}
                                    {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/#{option.icon}.svg") }}
                                {% else %}
                                    {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/link.svg") }}
                                {% endif %}

                                <p class="cat-typo-body-md">{{ option.label }}</p>

                                {% if option.badge is defined and option.badge %}
                                    <div class="cat-badge cat-typo-body-sm">{{ option.badge }} {{ "New"|t('author-toolbar') }}</div>                        
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
