{# ======================= #}
{# PROPERTIES              #}
{# ======================= #}
{% set pageUrl = craft.app.request.absoluteUrl %}
{% set isProduct = false %}

{% if entry %}
    {% if entry.className == 'craft\\commerce\\elements\\Product' %}
        {% set isProduct = true %}
    {% endif %}

    {% set pageTitle = entry.title|default("") %}
    {% set cpEditUrl = entry.cpEditUrl|default("") %}
    {% set pageStatus = entry.status|default("") %}
    {% set updatedAt = 
        "Last edited "|t('author-toolbar') ~
        entry.dateUpdated|date("d F Y") ~ 
        " om "|t('author-toolbar') ~ 
        entry.dateUpdated|date("h:s")|default("") %}
{% else %}
    {% set pageTitle = "Custom route"|t %}
    {% set cpEditUrl = craft.app.request.absoluteUrl|default("") %}
    {% set pageStatus = "live" %}
    {% set updatedAt = null %}
{% endif %}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
{% if currentUser %}
    <div 
        id="cat-toolbar"
        toolbar-data="toolbar" 
        toolbar-on:keydown.meta.k.window="focusSearch" 
        class="cat-toolbar"
    >
        <div class="cat-toolbar-main">
            {% if settings.startMenuEnabled %}
                {% include "author-toolbar/components/chunks/_startMenu" %}
            {% endif %}

            {% if settings.actionButtonsEnabled %}
                {% include "author-toolbar/components/chunks/_actionButtons" %}
            {% endif %}
            
            {% if settings.globalSearchEnabled %}
                    {% include "author-toolbar/components/chunks/_globalSearch" %}
            {% endif %}
            
            {% if settings.seoMenuEnabled %}
                {% include "author-toolbar/components/chunks/_seoMenu" %}
            {% endif %}
            
            {% if settings.helpMenuEnabled %}
                {% include "author-toolbar/components/chunks/_helpMenu" %}
            {% endif %}

            {% for widget in settings.customChunks %}
                {% include widget["path"] %}
            {% endfor %}
        </div>

        <div class="cat-toolbar-bottom">
            <div class="cat-toolbar-location-info">
                {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/globe.svg") }}

                <p class="cat-typo-body-sm">
                    <span class="cat-semi-bold">{{ pageTitle }}</span>
                    <span>{{ pageUrl }}</span>
                </p>

                <button toolbar-on:click="copyToPageURLToClipboard" class="cat-copy-to-clipboard">
                    {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/copy.svg") }}
                </button>

                <div class="cat-page-status {{ pageStatus }}">
                    <div class="cat-page-status-icon"></div>

                    <p class="cat-typo-body-sm cat-uppercase">{{ pageStatus }}</p>
                </div>
            </div>

            <div class="cat-toolbar-bottom-extra">
                <p class="cat-typo-body-sm">{{ updatedAt }}</p>
            </div>
        </div>

        {# <ul class="cat-toolbar-warnings-list">
            <li class="cat-toolbar-warnings-list-item">
                {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/triangle-exclamation.svg") }}

                <p class="cat-typo-body-md">{{ "Je bent inhoud aan het bewerken op de testomgeving" }}</p>
            </li>
        </ul> #}
    </div>

    <script>
        window.craftAuthorToolbar = {
            siteId: {{ currentSite.id }},
            siteHandle: `{{ currentSite.handle }}`,
            siteName: `{{ currentSite.handle }}`,
            csrfTokenValue: `{{ craft.app.request.getCsrfToken() }}`
        }
    </script>
{% endif %}

