{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<section class="cat-toolbar-seo-menu-checklist" toolbar-show="seoMenuActiveTab === 'checklist'">
    <div class="cat-toolbar-seo-menu-checklist-top">
        <h2 class="cat-typo-body-md cat-semi-bold">{{ "Checklist"|t('author-toolbar') }}</h2>

        <p class="cat-typo-body-sm">
            {{ "This is a basic checklist that all pages should try to check off for a well maintained SEO performance"|t('author-toolbar') }}
        </p>
    </div>

    <ul class="cat-toolbar-seo-menu-checklist-results">
        <template toolbar-for="check, index in seoChecklistResults" toolbar-bind:key="index">
            <li class="cat-toolbar-seo-menu-checklist-results-item">
                <div class="cat-toolbar-seo-menu-checklist-results-item-icon" toolbar-bind:class="check.status">
                    <template toolbar-if="check.status === 'passed'">
                        {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/circle-check.svg") }}
                    </template>

                    <template toolbar-if="check.status === 'warning'">
                        {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/triangle-exclamation.svg") }}
                    </template>

                    <template toolbar-if="check.status === 'failed'">
                        {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/circle-exclamation.svg") }}
                    </template>
                </div>

                <p class="cat-typo-body-sm" toolbar-text="check.message"></p>
            </li>
        </template>
    </ul>
</section>