{# ======================= #}
{# QUERY PARAMS            #}
{# ======================= #}
{% set queryParam = craft.app.request.getQueryParam("query") %}

{# ======================= #}
{# QUERY LOGIC             #}
{# ======================= #}
{% set allProductsQuery = craft.products.status(null).uri(':notempty:') %}
{% set filteredProductsQuery = clone(allProductsQuery) %}

{% set allEntriesQuery = craft.entries.status(null).uri(':notempty:') %}
{% set filteredEntriesQuery = clone(allEntriesQuery) %}

{% if queryParam is not null %}
    {% set filteredProductsQuery = allProductsQuery.search('title:' ~ queryParam) %}
    {% set filteredEntriesQuery = allEntriesQuery.search('title:' ~ queryParam) %}
{% endif %}

{% set groupedProducts = filteredProductsQuery.all|group("type.name") %}
{% set groupedEntries = filteredEntriesQuery.all|group("section.name") %}

{% set results = groupedProducts|merge(groupedEntries)|default([]) %}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
{% if results|length %}
    <ul class="cat-toolbar-search-results-groups-list">
        {% for group, entries in results %}
            {% set isProduct = null %}
            {% set entryType = entries[0].type.handle|default("") %}
            {% set sectionType = entries[0].section.type|default("") %}

            {% if entries[0].className == 'craft\\commerce\\elements\\Product' %}
                {% set isProduct = true %}
            {% endif %}

            {% if group %}
                <li class="cat-toolbar-search-results-groups-list-item">
                    <div class="cat-toolbar-search-results-groups-list-item-top">
                        <h2 class="cat-typo-body-md cat-semi-bold">
                            {{ group }} 

                            {% if sectionType != "single" %}
                                ({{ entries|length }})
                            {% endif %}
                        </h2>

                        {% if isProduct %}
                            <a class="cat-typo-body-md" href="{{ cpUrl('commerce/products/' ~ entryType) }}">{{ "View all"|t('author-toolbar') }}</a>
                        {% elseif sectionType != "single" %}
                            <a class="cat-typo-body-md" href="{{ cpUrl('entries/' ~ entryType) }}">{{ "View all"|t('author-toolbar') }}</a>
                        {% endif %}
                    </div>

                    <ul class="cat-toolbar-search-results-list">
                        {% for result in entries %}
                            {% set url = result.url|default("") %}
                            {% set title = result.title|default("Inhoud zonder titel"|t('author-toolbar')) %}
                            {% set status = result.status|default("") %}
                            {% set thumbField = result.fieldLayout.thumbField %}
                            {% set thumbnail = null %}

                            {% set thumbField = result.fieldLayout.thumbField %}

                            {% if 
                                thumbField and 
                                thumbField.className == "craft\\fieldlayoutelements\\CustomField" and 
                                thumbField.field and 
                                thumbField.field.className == "craft\\fields\\Assets" 
                            %}
                                {% set thumbnail = result[thumbField.field.handle].one %}
                            {% endif %}

                            {% if isProduct %}
                                {% set amountOfVariants = result.variants|length %}

                                {% set prices = result.variants|map(variant => variant.price) %}
                                {% set minPrice = min(prices) %}
                                {% set maxPrice = max(prices) %}
                            {% endif %}

                            <li class="cat-toolbar-search-results-list-item">
                                <a href="{{ url }}" class="cat-toolbar-search-results-list-item-link">
                                    <article class="cat-toolbar-search-results-card">
                                        <div class="cat-toolbar-search-results-card-main">
                                            {% if thumbnail %}
                                                <img src="{{ thumbnail.getUrl({ width: 200 }) }}">
                                            {% endif %}

                                            <div class="cat-toolbar-search-results-card-main-info">
                                                <p class="cat-typo-body-md">
                                                    {{ title }}
                                                    {% if isProduct %}
                                                        {% if minPrice == maxPrice %}
                                                            - {{ minPrice|commerceCurrency }}
                                                        {% else %}
                                                            - {{ minPrice|commerceCurrency }} - {{ maxPrice|commerceCurrency }}
                                                        {% endif %}
                                                        
                                                        ({{ amountOfVariants }} {{ "variants"|t('author-toolbar') }})
                                                    {% endif %}
                                                </p>

                                                <div class="cat-toolbar-search-results-card-link">
                                                    <span class="cat-typo-body-sm">{{ isProduct ? "View product"|t('author-toolbar') : "View page"|t('author-toolbar') }}</span>

                                                    {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/circle-arrow-right.svg") }}
                                                </div>
                                            </div>
                                        </div>                                                

                                        <div class="cat-page-status {{ status }}">
                                            <div class="cat-page-status-icon"></div>

                                            <p class="cat-typo-body-sm cat-uppercase">{{ status }}</p>
                                        </div>
                                    </article>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <div class="cat-toolbar-search-results-empty">
        <h2 class="cat-typo-body-md cat-semi-bold">{{ "Geen resultaten"|t('author-toolbar') }}</h2>

        <div class="cat-toolbar-search-results-empty-main">
            <p class="cat-typo-body-sm">{{ "Geen inhoud gevonden voor"|t('author-toolbar') }}</p>
            <p class="cat-typo-body-md cat-semi-bold">{{ "Zoekterm:"|t('author-toolbar') }} {{ queryParam }}</p>
        </div>
    </div>
{% endif %}