{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<div toolbar-show="seoPreview === 'facebook'" class="cat-toolbar-seo-menu-previews-results-facebook">
    <div class="cat-toolbar-seo-menu-previews-results-facebook-thumbnail">
        {% if og.image %}
            <img src="{{ og.image }}" alt="facebook social preview image">
        {% else %}
            <div class="cat-toolbar-seo-menu-previews-results-placeholder-image">
                {{ svg("@digitalastronaut/craftauthortoolbar/web/icons/image.svg") }}

                <p class="cat-typo-body-md">{{ "No social image provided"|t('author-toolbar') }}</p>
            </div>
        {% endif %}
    </div>

    <div class="cat-toolbar-seo-menu-previews-results-facebook-main">
        <p class="cat-typo-body-sm cat-uppercase">{{ og.url|replace({'https://': '', 'http://': ''})|split('/')[0] }}</p>

        {% if og.title %}
            <h3 class="cat-typo-body-md cat-semi-bold">{{ og.title }}</h3>
        {% endif %}

        {% if og.description %}
            <p class="cat-typo-body-sm">{{ og.description|truncate(160) }}</p>
        {% endif %}
    </div>
</div>